body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2798px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:631px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:215px;
  width:380px;
  height:631px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:197px;
  width:376px;
  word-wrap:break-word;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#212529;
  text-align:left;
  line-height:44px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:116px;
  width:426px;
  height:44px;
  font-size:40px;
  color:#212529;
  text-align:left;
  line-height:44px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  white-space:nowrap;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:300px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:1528px;
  top:460px;
  width:882px;
  height:300px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:65px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:270px;
  width:890px;
  height:65px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:886px;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1183px;
  height:740px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:1528px;
  top:760px;
  width:1183px;
  height:740px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:1800px;
  top:1065px;
  width:998px;
  height:35px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  white-space:nowrap;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:320px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:1860px;
  top:440px;
  width:300px;
  height:320px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:275px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:335px;
  width:890px;
  height:275px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:65px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:610px;
  width:890px;
  height:65px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:886px;
  word-wrap:break-word;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:65px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:673px;
  width:890px;
  height:65px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:886px;
  word-wrap:break-word;
}
#u787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:65px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:736px;
  width:890px;
  height:65px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:886px;
  word-wrap:break-word;
}
#u788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:65px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:799px;
  width:890px;
  height:65px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:886px;
  word-wrap:break-word;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:353px;
  width:180px;
  height:240px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:176px;
  word-wrap:break-word;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:360px;
  width:690px;
  height:50px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:686px;
  word-wrap:break-word;
}
#u791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:215px;
  width:280px;
  height:45px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:240px;
  width:734px;
  height:20px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  white-space:nowrap;
}
#u793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:414px;
  width:690px;
  height:50px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:686px;
  word-wrap:break-word;
}
#u794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:468px;
  width:690px;
  height:50px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:686px;
  word-wrap:break-word;
}
#u795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:522px;
  width:690px;
  height:50px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:686px;
  word-wrap:break-word;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:335px;
  width:742px;
  height:39px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  white-space:nowrap;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:573px;
  width:655px;
  height:37px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  word-wrap:break-word;
}
#u799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:752px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:60px;
  height:752px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1440px;
  height:48px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1px;
  width:128px;
  height:48px;
  font-size:24px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:128px;
  white-space:nowrap;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:13px;
  width:21px;
  height:21px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:1px;
  width:35px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:35px;
  white-space:nowrap;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:403px;
  width:40px;
  height:40px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:235px;
  width:40px;
  height:40px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:315px;
  width:48px;
  height:48px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:0px;
  width:35px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:35px;
  white-space:nowrap;
}
#u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:0px;
  width:78px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:78px;
  white-space:nowrap;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:226px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:49px;
  width:320px;
  height:226px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:362px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:59px;
  width:310px;
  height:362px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:71px;
  width:88px;
  height:20px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:71px;
  width:115px;
  height:20px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:1600px;
  top:71px;
  width:537px;
  height:99px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  white-space:nowrap;
}
#u816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:270px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:101px;
  width:310px;
  height:270px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:306px;
  word-wrap:break-word;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:371px;
  width:310px;
  height:50px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:391px;
  width:221px;
  height:20px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:491px;
  width:40px;
  height:40px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
