.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.shape {
}
.image {
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:14px;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.icon {
}
.heading_31 {
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
  line-height:28px;
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#212529;
  text-align:left;
  line-height:18px;
}
.heading_61 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#212529;
  text-align:left;
  line-height:18px;
}
.heading_41 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#212529;
  text-align:left;
  line-height:26px;
}
.shape1 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
.btn_disabled {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
.text_field1 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#495057;
  text-align:left;
}
.placeholder_text {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#868E96;
}
.horizontal_line {
}
.body_copy {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#212529;
  text-align:left;
  line-height:24px;
}
