body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:147px;
  width:290px;
  height:70px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:286px;
  word-wrap:break-word;
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:491px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:310px;
  width:290px;
  height:491px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:232px;
  width:260px;
  word-wrap:break-word;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:65px;
  width:290px;
  height:70px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:286px;
  word-wrap:break-word;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:228px;
  width:290px;
  height:70px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:286px;
  word-wrap:break-word;
}
#u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:736px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:65px;
  width:780px;
  height:736px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:361px;
  width:750px;
  word-wrap:break-word;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:175px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:65px;
  width:270px;
  height:175px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:266px;
  word-wrap:break-word;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:720px;
  width:740px;
  height:56px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:736px;
  word-wrap:break-word;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:86px;
  width:28px;
  height:28px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:124px;
  width:100px;
  height:64px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:526px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:250px;
  width:270px;
  height:526px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:70px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:260px;
  width:250px;
  height:70px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:246px;
  word-wrap:break-word;
}
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:340px;
  width:40px;
  height:40px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  word-wrap:break-word;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:340px;
  width:40px;
  height:40px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  word-wrap:break-word;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:340px;
  width:40px;
  height:40px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  word-wrap:break-word;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:340px;
  width:40px;
  height:40px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  word-wrap:break-word;
}
#u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:370px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:390px;
  width:250px;
  height:370px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:164px;
  width:246px;
  word-wrap:break-word;
}
#u838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:752px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:60px;
  height:752px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1440px;
  height:48px;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1px;
  width:128px;
  height:48px;
  font-size:24px;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:128px;
  white-space:nowrap;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:13px;
  width:21px;
  height:21px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:1px;
  width:35px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:35px;
  white-space:nowrap;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:403px;
  width:40px;
  height:40px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:235px;
  width:40px;
  height:40px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:315px;
  width:48px;
  height:48px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:0px;
  width:35px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:35px;
  white-space:nowrap;
}
#u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:0px;
  width:78px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:78px;
  white-space:nowrap;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:226px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:49px;
  width:320px;
  height:226px;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:362px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:59px;
  width:310px;
  height:362px;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:71px;
  width:88px;
  height:20px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:71px;
  width:115px;
  height:20px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:1600px;
  top:71px;
  width:537px;
  height:99px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  white-space:nowrap;
}
#u855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:270px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:101px;
  width:310px;
  height:270px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:306px;
  word-wrap:break-word;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:371px;
  width:310px;
  height:50px;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:391px;
  width:221px;
  height:20px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:491px;
  width:40px;
  height:40px;
}
#u859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  color:#3300FF;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:760px;
  width:1172px;
  height:70px;
  font-family:'ArialMT';
  font-weight:400;
  font-style:normal;
  color:#3300FF;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  white-space:nowrap;
}
